* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgba(34, 34, 34, 0.871);
}

.borderColorG {
  border: 1px solid green;
}
.borderColorY {
  border: 1px solid orange;
}
.borderColorR {
  border: 1px solid red;
}
